<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>WIP - here is going to be a Mastermind game</h1>
            <p class="lead">In the meantime, try our to play it in the shell.</p>
        </div>
    </div>
</body>
</html>
